USE [master]
GO
/****** Object:  Database [Матвеев УП 419/5]    Script Date: 24.09.2025 13:31:52 ******/
CREATE DATABASE [Матвеев УП 419/5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Матвеев УП 419_5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Матвеев УП 419_5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Матвеев УП 419_5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Матвеев УП 419_5_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Матвеев УП 419/5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Матвеев УП 419/5]
GO
/****** Object:  Table [dbo].[ЗаявкиНаПоставки]    Script Date: 24.09.2025 13:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ЗаявкиНаПоставки](
	[ID_заявки_поставки] [int] NOT NULL,
	[ID_поставщика] [int] NOT NULL,
	[ID_менеджера] [int] NOT NULL,
	[ID_материала] [int] NOT NULL,
	[Количество] [int] NOT NULL,
	[Цена] [decimal](15, 2) NOT NULL,
	[Дата_создания] [datetime2](7) NOT NULL,
	[Статус] [nvarchar](50) NOT NULL,
	[Предоплата] [bit] NOT NULL,
	[Дата_предоплаты] [datetime2](7) NULL,
	[Полная_оплата] [bit] NOT NULL,
	[Дата_полной_оплаты] [datetime2](7) NULL,
	[Способ_доставки] [nvarchar](50) NOT NULL,
	[Дата_поставки] [datetime2](7) NULL,
 CONSTRAINT [PK_ЗаявкиНаПоставки] PRIMARY KEY CLUSTERED 
(
	[ID_заявки_поставки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ЗаявкиНаПродажу]    Script Date: 24.09.2025 13:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ЗаявкиНаПродажу](
	[ID_заявки_продажи] [int] NOT NULL,
	[ID_партнера] [int] NOT NULL,
	[ID_менеджера] [int] NOT NULL,
	[ID_продукции] [int] NOT NULL,
	[Количество] [int] NOT NULL,
	[Цена] [decimal](18, 2) NOT NULL,
	[Дата_создания] [datetime2](7) NOT NULL,
	[Статус] [nvarchar](50) NOT NULL,
	[Предоплата] [bit] NOT NULL,
	[Дата_предоплаты] [datetime2](7) NULL,
	[Полная_оплата] [bit] NOT NULL,
	[Дата_полной_оплаты] [datetime2](7) NULL,
	[Способ_доставки] [nvarchar](50) NOT NULL,
	[Дата_производства] [datetime2](7) NULL,
 CONSTRAINT [PK_ЗавякиНаПродажу] PRIMARY KEY CLUSTERED 
(
	[ID_заявки_продажи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Материалы]    Script Date: 24.09.2025 13:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Материалы](
	[ID_материала] [int] NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
	[ID_типа_материала] [int] NOT NULL,
	[Единица_измерения] [nvarchar](50) NOT NULL,
	[Стоимость] [decimal](18, 2) NOT NULL,
	[Количество_на_складе] [int] NOT NULL,
	[Минимальный_запас] [int] NOT NULL,
 CONSTRAINT [PK_Материалы] PRIMARY KEY CLUSTERED 
(
	[ID_материала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Партнеры]    Script Date: 24.09.2025 13:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Партнеры](
	[ID_партнера] [int] NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
	[Юридический_адрес] [nvarchar](50) NOT NULL,
	[ИНН] [float] NOT NULL,
	[ФИО_директора] [nvarchar](50) NULL,
	[Телефон] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Рейтинг] [float] NOT NULL,
	[Тип_партнера] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Партнеры] PRIMARY KEY CLUSTERED 
(
	[ID_партнера] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 24.09.2025 13:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[ID_пользователя] [int] NOT NULL,
	[Логин] [nchar](20) NOT NULL,
	[Пароль] [nchar](10) NOT NULL,
	[Роль] [int] NOT NULL,
	[ID_поставщика] [int] NULL,
	[ID_партнера] [int] NULL,
 CONSTRAINT [PK_Пользователи] PRIMARY KEY CLUSTERED 
(
	[ID_пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Поставщики]    Script Date: 24.09.2025 13:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Поставщики](
	[ID_поставщика] [int] NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
	[ИНН] [float] NOT NULL,
	[Тип_поставщика] [nvarchar](50) NOT NULL,
	[Контактные_данные] [nvarchar](50) NULL,
 CONSTRAINT [PK_Поставщики] PRIMARY KEY CLUSTERED 
(
	[ID_поставщика] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Продукция]    Script Date: 24.09.2025 13:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Продукция](
	[ID_продукции] [int] NOT NULL,
	[Артикул] [nvarchar](50) NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
	[ID_материала] [int] NOT NULL,
	[ID_типа_продукции] [int] NOT NULL,
	[Минимальная_цена] [decimal](18, 2) NOT NULL,
	[Время_изготовления] [int] NULL,
	[Себестоимость] [decimal](18, 2) NOT NULL,
	[Количество_на_складе] [int] NOT NULL,
 CONSTRAINT [PK_Продукция] PRIMARY KEY CLUSTERED 
(
	[ID_продукции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 24.09.2025 13:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[ID_сотрудника] [int] NOT NULL,
	[ФИО] [nvarchar](50) NOT NULL,
	[Дата_рождения] [datetime2](7) NOT NULL,
	[Паспортные_данные] [nvarchar](50) NOT NULL,
	[Банковские_реквизиты] [nvarchar](100) NOT NULL,
	[Должность] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[ID_сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТипыМатериалов]    Script Date: 24.09.2025 13:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТипыМатериалов](
	[ID_типа_материала] [int] NOT NULL,
	[Название_типа] [nvarchar](50) NOT NULL,
	[Описание] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_ТипыМатериалов] PRIMARY KEY CLUSTERED 
(
	[ID_типа_материала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТипыПродукции]    Script Date: 24.09.2025 13:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТипыПродукции](
	[ID_типа_продукции] [int] NOT NULL,
	[Название_типа] [nvarchar](50) NOT NULL,
	[Описание] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_ТипыПродукции] PRIMARY KEY CLUSTERED 
(
	[ID_типа_продукции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ЗаявкиНаПоставки]  WITH CHECK ADD  CONSTRAINT [FK_ЗаявкиНаПоставки_Материалы] FOREIGN KEY([ID_материала])
REFERENCES [dbo].[Материалы] ([ID_материала])
GO
ALTER TABLE [dbo].[ЗаявкиНаПоставки] CHECK CONSTRAINT [FK_ЗаявкиНаПоставки_Материалы]
GO
ALTER TABLE [dbo].[ЗаявкиНаПоставки]  WITH CHECK ADD  CONSTRAINT [FK_ЗаявкиНаПоставки_Поставщики] FOREIGN KEY([ID_поставщика])
REFERENCES [dbo].[Поставщики] ([ID_поставщика])
GO
ALTER TABLE [dbo].[ЗаявкиНаПоставки] CHECK CONSTRAINT [FK_ЗаявкиНаПоставки_Поставщики]
GO
ALTER TABLE [dbo].[ЗаявкиНаПоставки]  WITH CHECK ADD  CONSTRAINT [FK_ЗаявкиНаПоставки_Сотрудники] FOREIGN KEY([ID_менеджера])
REFERENCES [dbo].[Сотрудники] ([ID_сотрудника])
GO
ALTER TABLE [dbo].[ЗаявкиНаПоставки] CHECK CONSTRAINT [FK_ЗаявкиНаПоставки_Сотрудники]
GO
ALTER TABLE [dbo].[ЗаявкиНаПродажу]  WITH CHECK ADD  CONSTRAINT [FK_ЗавякиНаПродажу_Партнеры] FOREIGN KEY([ID_партнера])
REFERENCES [dbo].[Партнеры] ([ID_партнера])
GO
ALTER TABLE [dbo].[ЗаявкиНаПродажу] CHECK CONSTRAINT [FK_ЗавякиНаПродажу_Партнеры]
GO
ALTER TABLE [dbo].[ЗаявкиНаПродажу]  WITH CHECK ADD  CONSTRAINT [FK_ЗавякиНаПродажу_Продукция] FOREIGN KEY([ID_продукции])
REFERENCES [dbo].[Продукция] ([ID_продукции])
GO
ALTER TABLE [dbo].[ЗаявкиНаПродажу] CHECK CONSTRAINT [FK_ЗавякиНаПродажу_Продукция]
GO
ALTER TABLE [dbo].[ЗаявкиНаПродажу]  WITH CHECK ADD  CONSTRAINT [FK_ЗавякиНаПродажу_Сотрудники] FOREIGN KEY([ID_менеджера])
REFERENCES [dbo].[Сотрудники] ([ID_сотрудника])
GO
ALTER TABLE [dbo].[ЗаявкиНаПродажу] CHECK CONSTRAINT [FK_ЗавякиНаПродажу_Сотрудники]
GO
ALTER TABLE [dbo].[Материалы]  WITH CHECK ADD  CONSTRAINT [FK_Материалы_ТипыМатериалов] FOREIGN KEY([ID_типа_материала])
REFERENCES [dbo].[ТипыМатериалов] ([ID_типа_материала])
GO
ALTER TABLE [dbo].[Материалы] CHECK CONSTRAINT [FK_Материалы_ТипыМатериалов]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Партнеры] FOREIGN KEY([ID_партнера])
REFERENCES [dbo].[Партнеры] ([ID_партнера])
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Партнеры]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Поставщики] FOREIGN KEY([ID_поставщика])
REFERENCES [dbo].[Поставщики] ([ID_поставщика])
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Поставщики]
GO
ALTER TABLE [dbo].[Продукция]  WITH CHECK ADD  CONSTRAINT [FK_Продукция_Материалы] FOREIGN KEY([ID_материала])
REFERENCES [dbo].[Материалы] ([ID_материала])
GO
ALTER TABLE [dbo].[Продукция] CHECK CONSTRAINT [FK_Продукция_Материалы]
GO
ALTER TABLE [dbo].[Продукция]  WITH CHECK ADD  CONSTRAINT [FK_Продукция_ТипыПродукции] FOREIGN KEY([ID_типа_продукции])
REFERENCES [dbo].[ТипыПродукции] ([ID_типа_продукции])
GO
ALTER TABLE [dbo].[Продукция] CHECK CONSTRAINT [FK_Продукция_ТипыПродукции]
GO
USE [master]
GO
