USE [master]
GO
/****** Object:  Database [Матвеев_ПДЭ_419/5]    Script Date: 25.09.2025 12:17:19 ******/
CREATE DATABASE [Матвеев_ПДЭ_419/5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Матвеев_ПДЭ_419_5', FILENAME = N'D:\MSSQL14.SQLSERVER\MSSQL\DATA\Матвеев_ПДЭ_419_5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Матвеев_ПДЭ_419_5_log', FILENAME = N'D:\MSSQL14.SQLSERVER\MSSQL\DATA\Матвеев_ПДЭ_419_5_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Матвеев_ПДЭ_419/5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Матвеев_ПДЭ_419/5]
GO
/****** Object:  Table [dbo].[materials]    Script Date: 25.09.2025 12:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materials](
	[material_id] [int] IDENTITY(1,1) NOT NULL,
	[material_name] [nvarchar](100) NOT NULL,
	[overuse_percent] [decimal](4, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[material_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partner_service_facts]    Script Date: 25.09.2025 12:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partner_service_facts](
	[fact_id] [int] IDENTITY(1,1) NOT NULL,
	[partner_id] [int] NOT NULL,
	[service_code] [nvarchar](20) NOT NULL,
	[quantity] [int] NOT NULL,
	[execution_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partners]    Script Date: 25.09.2025 12:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partners](
	[partner_id] [int] IDENTITY(1,1) NOT NULL,
	[partner_type] [nvarchar](20) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[manager_name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[legal_address] [nvarchar](500) NOT NULL,
	[inn] [nvarchar](12) NOT NULL,
	[rating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[partner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[inn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_materials]    Script Date: 25.09.2025 12:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_materials](
	[service_code] [nvarchar](20) NOT NULL,
	[material_id] [int] NOT NULL,
	[quantity_per_unit] [decimal](10, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[service_code] ASC,
	[material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_types]    Script Date: 25.09.2025 12:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_types](
	[type_name] [nvarchar](50) NOT NULL,
	[complexity_factor] [decimal](3, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 25.09.2025 12:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[service_code] [nvarchar](20) NOT NULL,
	[service_name] [nvarchar](255) NOT NULL,
	[service_type] [nvarchar](50) NOT NULL,
	[min_partner_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[service_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[service_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 25.09.2025 12:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](255) NOT NULL,
	[password] [nvarchar](256) NOT NULL,
	[partner_id] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[partner_service_facts]  WITH CHECK ADD FOREIGN KEY([partner_id])
REFERENCES [dbo].[partners] ([partner_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[partner_service_facts]  WITH CHECK ADD FOREIGN KEY([service_code])
REFERENCES [dbo].[services] ([service_code])
GO
ALTER TABLE [dbo].[service_materials]  WITH CHECK ADD FOREIGN KEY([material_id])
REFERENCES [dbo].[materials] ([material_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[service_materials]  WITH CHECK ADD FOREIGN KEY([service_code])
REFERENCES [dbo].[services] ([service_code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD FOREIGN KEY([service_type])
REFERENCES [dbo].[service_types] ([type_name])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_partner_id] FOREIGN KEY([partner_id])
REFERENCES [dbo].[partners] ([partner_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_partner_id]
GO
ALTER TABLE [dbo].[partner_service_facts]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[partners]  WITH CHECK ADD CHECK  (([rating]>=(0) AND [rating]<=(10)))
GO
ALTER TABLE [dbo].[service_materials]  WITH CHECK ADD CHECK  (([quantity_per_unit]>(0)))
GO
USE [master]
GO
